@import '~bruce/bruce';
@import 'config';
@include BruceReset;
@include BruceBoxSizing;

$bruce-zindexList: (
    'Select',
    'Modal'
);

@import '~obtuse/lib/all';
@include ObtuseConfig;
@include ObtuseBase;

@include ObtuseAnimation;
@include ObtuseBadge;
@include ObtuseBox;
@include ObtuseBreadcrumbs;
@include ObtuseButton;
@include ObtuseCheckbox;
@include ObtuseChoice;
@include ObtuseDayPicker() {
    &-wrapper {
        position: relative;
    }
    &-Caption {
        text-align: center;
    }
    &-NavBar {
        width: 100%;
        position: absolute;
    }
    &-NavButton {
        &:focus {
            outline: none;
        }
        cursor: pointer;
        padding: 0 1rem;
        &--prev:before {
            content: '<';
            float: left;
        }
        &--next:before {
            float: right;
            content: '>'
        }
    }
    &-Body {
        border-left: 1px solid grey(80);
        border-top: 1px solid grey(80);
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    &-Weekdays {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    &-Week,
    &-WeekdaysRow {
        display: table-row;
    }

    &-Day,
    &-Weekday {
        width: 100%;
        display: table-cell;
    }

    &-Day {
        height: 5rem;
        // text-align: center;
        //
        // border: 1px solid grey(80);
        //
        border-bottom: 1px solid grey(80);
        border-right: 1px solid grey(80);

        &--outside {
            color: grey(70);
        }
    }
}

@include BruceGrid() {
    &_item {
        &-paddingMega {
            border-left: 4rem solid transparent;
            border-right: 4rem solid transparent;
        }

        &-paddingKilo {
            border-left: 2rem solid transparent;
            border-right: 2rem solid transparent;
        }

        &-padding {
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;
        }

        &-paddingMilli {
            border-left: .5rem solid transparent;
            border-right: .5rem solid transparent;
        }
    }
};
// @include ObtuseDropdown;
// @include ObtuseIcon;
@include ObtuseInput;
@include ObtuseLabel;
// @include ObtuseLink;
// @include ObtuseList;
// @include ObtuseLoader;
// @include ObtuseLogin;
// @include ObtuseMedia;
// @include ObtuseModal;
// @include ObtuseNavigation;
// @include ObtusePagination;
// @include ObtuseProgressBar;
// @include ObtuseSelect;
// @include ObtuseTab;
@include ObtuseTable() {
    &_headCell {
        text-align: left;
        padding: .5rem;
        font-weight: 700;
    }
}
// @include ObtuseTabSet;
// @include ObtuseTerminal;
@include ObtuseText;
// @include ObtuseWrapper;


@media print {
    .hide-print {
        display: none;
    }
}

